<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/style.css">
    <title>Logout</title>
    
</head>
<body class="fluid">
    <div class="alert alert-success" role="alert">
        <h1>Chau</h1> <%=userName%>
    </div>

    <script>
        setTimeout(()=> {
            location.href = '/login '
        } , 2000)
    </script>


</body>
</html>